.home_container {
  background: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );
  max-height: 400px;
}

.hero_container {
  display: flex;
}

.hero_container_details {
  position: relative;
  left: 10%;
}

.hero_container_details h3 {
  font-size: 2rem;
  margin: 1px;
  font-weight: 300;
  margin-bottom: 1px;
}

.hero_container_details h1 {
  font-size: 4rem;
  margin: 1px;
}

.hero_container_image img {
  max-height: 37.5rem;
}
