.swiper-button-prev,
.swiper-button-next {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #fff;
  /* Add more styles as needed */
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px;
}

.swiper {
  width: 80%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.time {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
}

.time_slot {
  display: flex;
}
